:root {
    --titleColor1: #212832;
    --titleColor2: #7264D6;
    --pseudoHeading: #696D77;
    --normalColor: #696D76;
    --bg: #ffffff;
}

::selection{
    background: transparent; color: #440354;
}
::-webkit-scrollbar {background: transparent; width: 7px; height: 7px;}
::-webkit-scrollbar-thumb {background: var(--titleColor2); width: 7px; height: 7px; border-radius: 3.5px;}

html {font-size: 62.5%;}
html,body {scroll-behavior: smooth;}
a {text-decoration: none;}
ul {list-style-type: none; padding: 0; margin: 0;text-indent: 0;}

body, body * {
    color: var(--normalColor); font-size: 1.6rem; font-family: "Open Sans", sans-serif; font-weight: 400;
}


input, button {
    outline: none; padding: 0;margin: 0;border: 0;
    color: inherit; font-size: inherit; font-family: inherit; font-weight: inherit;
    min-width: 0;
}

input[type="button"],button {
    cursor: pointer;
}

a, i {
    text-decoration: none; color: inherit; 
}

figure {padding: 0;margin: 0;}

/* brands */
    .brand {display: flex; align-items: center; gap: 7px; transition: transform .3s;}
    .brand__icon {width: 24px; display: inline-block;}
    .brand__title {color: #000; font-weight: 600; transition: color .3s;}
    .brand:hover {transform: scale(1.1);}
    .brand:hover .brand__title {color: var(--titleColor2);}

/* headings */
    h1,h2,h3,p {padding: 0;margin: 0;}
    .common-heading {margin-bottom: 20px;}
    h1, h2,h3 {color: var(--titleColor1); font-weight: 700;}
    h1 {font-size: 6rem; line-height: 1.2;}
    h2 {font-size: 4rem;line-height: 1.25; margin-bottom: 20px;}
    h3 {font-size: 2.2rem; line-height: 1.45; font-weight: 600;}
    /* desc */
    .desc {font-size: 1.6rem; color: inherit; line-height: 1.7; }
    /* font size moderator */
    .desc--18 {font-size: 1.8rem;}
    .desc--mb {margin-bottom: 28px;}
    /* pseudo title */
    .pseudo-title {color: var(--pseudoHeading); display: inline-flex; align-items: center; margin-bottom: 12px;}
    .pseudo-title::before {content: ''; display: inline-block; margin-right: 12px; width: 18px;height: 2px; background: var(--pseudoHeading); }
/* page */
    
/* common selectors */
    /* common margin */
    .common-margin {max-width: 1170px; width: calc((100% - 40px * 2)); margin-left: auto;margin-right: auto; padding-left: 40px;padding-right: 40px;}
    .common-section {margin-top: 160px; margin-bottom: 160px;}
    /* tabs */
    
    /* logo brand */
    
    /* navigations */
    
    /* selections for tabs */
    
    /* buttons */
        /* button1 */
        .button1 {border-radius: 6px; padding: 15px 30px; color: #fff; transition: background .3s; background: var(--titleColor1); font-weight: 600; display: inline-block;} 
        .button1:hover {background: var(--titleColor2);}
        /* button1/reversed */
        .button1--reversed {background: var(--titleColor2); position: relative;}
            .button1--reversed span {color: inherit; transition: transform .3s; display: inline-block;}
            .button1--reversed:hover span { transform: translateX(7.5px);}
        /* button/hyperlink */
        .hyperlink {font-weight: 600; transition: color .3s;}
        .hyperlink:hover {color: var(--titleColor2);}
        
